<div class="xy-content">
  <table>
    <tbody style="display:flex;flex-direction: column;">
      <tr class="tp-tit">
        <th class="tp1">照片</th>
        <th class="tp2">图片标题</th>
        <th class="tp3">图片简介</th>
        <th class="tp4">图片状态</th>
        <th class="tp5">操作</th>
      </tr>
      <tr class="tp-con">
        <td class="tp1"><%= image_tag pimage.asset.url(:medium)%></td>
        <td class="tp2"><%= pimage.title %></td>
        <td class="tp3"><%= pimage.desc %></td>
        <td class="tp4">已上传</td>
        <td class="tp5" id="tpdel" tpjilu="<%= pimage.id%>">删除</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(function(){
    $("#tpdel").click(function(){
      tpjilu =$(this).attr('tpjilu');
      $.ajax({
        url: '/pimages/'+tpjilu,
        type: 'DELETE',
        data: {},
        success: function (res) {
          $(".tp-con").remove();
        }
      });

    });
  });
</script>
