<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/welcome/index">首页</a>
            <a class="navbar-brand" href="/newslist/newslist"  style="background-color: #063f6c;color: #fff;">新闻</a>
            <a class="navbar-brand" href="/announce/announce">重要通知</a>
            <a class="navbar-brand" href="/notable/notable">名家推荐</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/video/video">活动视频</a></li>
                <li><a class="navbar-brand" href="/trainning/trainning">教师培训</a></li>
                <li><a class="navbar-brand" href="/register/register">申请注册</a></li>
                <li><a class="navbar-brand" href="/introduce/introduce">平台简介</a></li>
            </ul>
        </div>
    </div>
</nav>
