<div class="agreement">
  <div class="procedure-title">
    <span>申请协议</span>
  </div>
  <div class="procedure-content" style="padding-bottom:20px;">
    <p>在您注册成为本网站的会员之前，请您认真阅读本会员注册协议。您必须完全同意以下所有条款，方能成为本网站的会员
    <p>第一条　会员服务条款的确认和接纳</p>
    <span>“本网站”在线服务涉及的本网站在线产品的所有权以及相关软件的知识产权归本网站所有。本服务条款的效力范围及于本网站的一切产品和服务，用户在享受本网站任何单项服务时，应当受本服务条款的约束。用户通过进入注册程序并点击“同意申请协议”按钮，即表示用户与本网站已达成协议，自愿接受本服务条款的所有内容。</p>
    当用户使用本网站各单项服务时，用户的使用行为视为其对该单项服务的服务条款以及本网站在该单项服务中发出的各类公告表示同意。</span>
    <p>第二条　网站服务简介</p>
    <span>本网站运用自己的操作系统通过国际互联网为用户提供各项服务。用户必须：</span>
    <span>（1）提供设备，包括个人计算机、调制解调器等上网装置。</span>
    <span>（2）个人承担个人上网而产生的通讯费用。</span>
    <span>考虑到本网站产品服务的重要性，用户同意：</span>
    <span>（1）提供及时、详尽及准确的个人资料。</span>
    <span>（2）不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。</span>
    <span>另外，本网站不会擅自公开用户的姓名、住址、出件地址、电子邮箱、账号。除非：</span>
    <span>（1）用户要求本网站或授权某人通过电子邮件服务透露这些信息。</span>
    <span>（2）用户个人在本网站论坛或者其他公共媒体自主发布或者透露这些信息。</span>
    <span>（3）相应的法律、法规要求及程序服务需要本网站提供用户的个人资料。</span>
    <span>如果用户提供的资料不准确、不真实、不合法有效，本网站保留结束用户使用本网站各项服务的权利。</span>
    <span>用户在享用本网站各项服务的同时，同意接受本网站提供的各类信息服务。</span>
    <p>第三条　会员条款的修改</p>
    <span>本网站有权在必要时修改本会员条款以及各单项服务的相关条款。用户在享受单项服务时，应当及时查阅了解修改的内容，并自觉遵守本服务条款以及该单项服务的相关条款。</span>
    <p>第四条　服务修订</p>
    <span>本网站保留随时修改或中断服务而不需通知用户的权利。用户接受本网站行使修改或中断服务的权利，本网站不需对用户或第三方负责。</span>
    <p>第五条　用户隐私制度</p>
    <span>我们承诺：对您的个人信息的隐私和安全将给予特别保护。访问这些个人信息的权限仅限于需要进行此类访问以完成其工作的人员。</span>
    <span>在未经访问者授权同意的情况下，本网站不会将访问者的个人资料泄露给第三方。但以下情况除外，且本网站不承担任何法律责任：</span>
    <span>（1）根据执法单位之要求或为公共之目的向相关单位提供个人资料。</span>
    <span>（2）由于您将用户密码告知他人或与他人共享注册账户，由此导致的任何个人资料泄露。</span>
    <span>（3）由于计算机2000年问题、黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被篡改等。</span>
    <span>（4）由于与本网站链接的其他网站造成之个人资料泄露及由此而导致的任何法律争议和后果。</span>
    <span>（5）本网站会与其他网站链接，但不对其他网站的隐私政策及内容负责。</span>
    <span>此外，用户同意若发现任何非法使用用户账号或安全漏洞的情况，立即通告本网站。</span>
    <p>第六条　拒绝提供担保和免责声明</p>
    <span>用户明确同意使用本网站服务的风险由用户个人承担。本网站明确表示不提供任何类型的担保，不论是明确的或隐含的，但是对商业性的隐含担保，特定目的和不违反规定的适当担保除外。本网站不担保服务一定能满足用户的要求，也不担保服务不会中断，对服务的及时性、安全性、真实性、出错发生都不做担保。本网站拒绝提供任何担保，包括信息能否准确、及时、顺利地传送。用户理解并接受下载或通过本网站产品服务取得的任何信息资料取决于用户自己，并由其承担系统受损、资料丢失以及其他任何风险。</span>
    <p>第七条　有限责任</p>
    <span>所有发给用户的通知都可通过电子邮件、常规信件或在网站显著位置公告的方式进行传送。本网站将通过上述方法之一将消息传递给用户，告知他们服务条款的修改、服务变更或其他重要事情。</span>
    <p>注意：同意申请协议后，平台向您发送的信息、邮件和证书寄送将通过您在个人信息中填报的手机号码、邮箱地址和实体地址发送、邮寄；请务必如实填写以上信息，如因信息不实，而未接受到通知和快递，平台不承担任何责任。如需补发补寄，自行承担邮递费用。请仔细核对个人信息。</p>
  </div>
</div>
