<div class="procedure">
  <div class="procedure-title">
    <span>全国乐器教学平台会员申报、审批流程</span>
  </div>
  <div class="procedure-content">
    <p>申请流程说明：1、首先在个人信息中完整填报资料信息，个人信息中的部分信息将展示在个人页面中；2、向全国乐器教学平台提交会员申请；3、全国乐器教学平台及评审委员会将在一周内对资料进行审核，同时无人对个人页面中的公开信息提出异议，将核准会员身份。4、通过站内信、短信、邮件等方式向您发送审核结果；如果未通过审核请进一步修改完善个人资料。5、通过审核者进入会费缴纳流程。6、缴费后三个工作日内可在“查看会员证”和个人页面详情页查看到会员证电子版；并将在两周内收到纸质会员证（将通过在个人信息中填报的地址寄送，因此需要您如实填报地址）。</p>
  </div>
</div>
