<div class="right">
  <div class="conse">
    <div class="">
      <div class="" id="home">
        <div class="mypagecontent" id="mypage">
          <div class="mypagecontent-title">
            <span>我的消息</span>
          </div>
          <div class="wodexiaoxi">
            <ul>
              <li>
                <a href="#">
                  <span>【NEW!】 您申请的中国乐器教学培训已经通过了，已发送给您邮件，请注意查收。</span>
                  <span>[2017-03-23 20:30:33]</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>【NEW!】 您申请的中国乐器教学培训已经通过了，已发送给您邮件，请注意查收。</span>
                  <span>[2017-03-23 20:30:33]</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>【站内信】 您申请的中国乐器教学培训已经通过了，已发送给您邮件，请注意查收。</span>
                  <span>[2017-03-23 20:30:33]</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>【站内信】 您申请的中国乐器教学培训已经通过了，已发送给您邮件，请注意查收。</span>
                  <span>[2017-03-23 20:30:33]</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>【站内信】 您申请的中国乐器教学培训已经通过了，已发送给您邮件，请注意查收。</span>
                  <span>[2017-03-23 20:30:33]</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>【站内信】 您申请的中国乐器教学培训已经通过了，已发送给您邮件，请注意查收。</span>
                  <span>[2017-03-23 20:30:33]</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>【站内信】 您申请的中国乐器教学培训已经通过了，已发送给您邮件，请注意查收。</span>
                  <span>[2017-03-23 20:30:33]</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>【站内信】 您申请的中国乐器教学培训已经通过了，已发送给您邮件，请注意查收。</span>
                  <span>[2017-03-23 20:30:33]</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
