<div class="right">
  <div class="conse">
    <div class="">
      <div class="" id="home">
        <div class="mypagecontent" id="mypage">
          <div class="mypagecontent-title">
            <span>个人展示</span>
          </div>
          <div class="wodexiaoxi">
            <div class="xiaoxi-title">
              <div class="xx">我的文章</div>
            </div>
          </div>
          <div class="yxxy">
            <div class="xy-title">
              <div class="tit">已发布文章：</div>
              <div class="">
                <a href="#">我要发布</a>
                <span class="glyphicon glyphicon-chevron-right"></span>
              </div>
            </div>
            <div class="xy-content">
              <table>
                <tbody style="display:flex;flex-direction: column;">
                  <tr class="tp-tit">
                    <th class="tp3">文章标题</th>
                    <th class="tp4">发布时间</th>
                    <th class="tp1">阅读量</th>
                    <th class="tp2">转发量</th>
                    <th class="tp5">收藏量</th>
                    <th class="tp5">状态</th>
                  </tr>
                  <tr class="tp-con">
                    <td class="tp3">生态式儿童音乐教育——徐州三小的乐实践</td>
                    <td class="tp4">2017-03-23 20：30</td>
                    <td class="tp1">12435次</td>
                    <td class="tp2">424次</td>
                    <td class="tp5">124次</td>
                    <td class="tp5">已发布</td>
                  </tr>
                  <tr class="tp-con">
                    <td class="tp3">生态式儿童音乐教育——徐州三小的乐实践</td>
                    <td class="tp4">2017-03-23 20：30</td>
                    <td class="tp1">12435次</td>
                    <td class="tp2">424次</td>
                    <td class="tp5">124次</td>
                    <td class="tp5">已发布</td>
                  </tr>
                  <tr class="tp-con">
                    <td class="tp3">生态式儿童音乐教育——徐州三小的乐实践</td>
                    <td class="tp4">2017-03-23 20：30</td>
                    <td class="tp1">12435次</td>
                    <td class="tp2">424次</td>
                    <td class="tp5">124次</td>
                    <td class="tp5">已发布</td>
                  </tr>
                  <tr class="tp-con">
                    <td class="tp3">生态式儿童音乐教育——徐州三小的乐实践</td>
                    <td class="tp4">2017-03-23 20：30</td>
                    <td class="tp1">12435次</td>
                    <td class="tp2">424次</td>
                    <td class="tp5">124次</td>
                    <td class="tp5">已发布</td>
                  </tr>
                </tbody>
              </table>
              <div class="jxtj">
                <button type="button" name="button">发布新文章</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
