<div class="newslist-right">
  <ul class="right-title">
    <li class="ynjd">展演通知</li>
  </ul>
  <div class="announcedetails-content">
    <article>
      <div class="newsdetails-title">
        <span><%= @news.title %></span>
        <div class="fb">发布于 2015-07-03 发布者:中国乐协|浏览:1849|分享:235</div>
        <div class="share">
          <div class="box">
            <% if @action %>
              <a>已收藏</a>
            <% else %>
              <%= link_to "收藏","/post/stara/#{@news.id}", :id => "asd",remote:true%>
            <% end %>
            <div style="line-height:24px;margin-left:35px;">分享: </div>
            <div class="bshare-custom">
              <a title="分享到QQ空间" class="bshare-qzone"></a>
              <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
              <a title="分享到人人网" class="bshare-weixin"></a>
              <a title="分享到腾讯微博" class="bshare-qqmb"></a>
              <a title="分享到网易微博" class="bshare-neteasemb">
              </a>
            </div>
          </div>
        </div>
        <%= @news.content_sanitized %>
        <div class="yuedu" style="text-align: center;">阅读量:<%= @count%></div>
      </div>
    </article>
    <div class="" style="width: 100%;margin: 0 auto;margin-top: 10px;">
      <span>培训地址:</span>
      <div id="allmap" style="width: 100%;height:240px;margin-top:10px;"></div>
    </div>
    <div class="share" style="margin-top: 20px;margin-bottom:10px;">
      <div class="box">
        <button type="button" name="button">已藏</button>
        <div style="line-height:24px;">分享: </div>
        <div class="bshare-custom">
          <a title="分享到QQ空间" class="bshare-qzone"></a>
          <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
          <a title="分享到人人网" class="bshare-weixin"></a>
          <a title="分享到腾讯微博" class="bshare-qqmb"></a>
          <a title="分享到网易微博" class="bshare-neteasemb">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="xgtz">
    <span>相关通知：</span>
    <ul>
      <li class="syp"><a href="#">上一篇：中国文化中心助阵贝宁国际乐器节</a></li>
      <li class="xyp"><a href="#">下一篇：海峡两岸 乐器教育交流</a></li>
    </ul>
  </div>
</div>
